.gallery_sub_wrap {
  position: relative;
  width: 100%;
}
.hdmain_wrap {
  position: relative;
  width: 100%;
}
.main_wrap {
  width: 100%;
  clear: both;
}
.dp {
  position: relative;
  width: 100%;
  /* z-index: -3; */
}
.dp_wrap {
  width: 1600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 200px auto;
}
.dp_gallery {
  width: 946px;
  height: 708px;
  position: relative;
  float: left;
}
.dp_photo img {
  width: 946px;
  height: 543px;
}
.relatedI {
  height: 43px;
  line-height: 43px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
.list_title {color: #d67d70;}
.dp_photo_list {
  position: relative;
  width: 946px;
  height: 543px;
  overflow: hidden;
}
.dp_photo_list .dp_list {width: 1892px;}
.dp_photo_list .dp_list li {float: left;}
.dp_photo_list .dp_list li img {
  width: 225px;
  margin-right: 15px;
}
.dp_right {
  position: relative;
  width: 650px;
  height: 711px;
  float: right;
}
.dp_txt {
  position: absolute;
  width: 268px;
  height: 293px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  line-height: 2em;
  font-size: 16px;
}
.dp_txt h2 {
  font-size: 32px;
  margin-bottom: 60px;
}