.sec2 {
  width: 100%;
  height: 100vh;
  background: rgb(244,244,244);
}

.sec2_wrap{
  width:1600px;
  height:662px;
  margin:0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  }

.sec2_inner{
  width:1494px;
  height:662px;
  position:relative;
  float:left;
}

.sec2_inner > div{
  position:absolute;
  top:0;
  left:0;
}

.sec2_txt {
  float: left;
  width: 500px;
  height: 540px;
  top: 0;
  right: 0;
  margin-top: 122px;
  margin-right: 250px;
}

.sec2_txt h1 {
  font-size: 96px;
  color: #000;
  margin-bottom: 37px;
}

.sec2_txt h1 span {
  color: #d67d70;
}
.sec2_txt .sec2_intro {
  font-size: 26px;
  margin-bottom: 54px;
  line-height: 1.8;
}

.gllery_link a span {
  font-size: 18px;
  color: #d67d70;
  margin-right: 55px;
  transition: 0.3s;
}

.gllery_link:hover span {
  color: #413F3C;
}

.gllery_link a img{
  transition: .5s linear;
}

.gllery_link:hover img {
  transform: translateX(40px);
}

.sec2_img {
  float: right;
  width: 743px;
  height: 662px;
  top: 0;
  right: 0;
  position: relative;
}

.sec2_img a img:first-child {
  width: 560px;
  height: 560px;
  border-radius: 50px;
  margin-top: 102px;
  position: absolute;
  z-index: 1;
}

.sec2_img a img:last-child {
  width: 289px;
  height: 289px;
  border-radius: 28px;
  position: absolute;
  top: 0;
  right: 0;
}

.sec2_list {
  transform: rotate(-90deg);
  width: 662px;
  padding: 0;
  position: absolute;
  right: -25%;
  bottom: 50%;
}

.sec2_list li {
  float: left;
  margin-right: 89px;
  list-style: none;
  font-size: 18px;
}

.sec2_list li:last-child {
  margin-right: 0px;
}

.sec2_list li a {
  color: #413F3C;
  transition: 0.3s linear;
}

.sec2_list li a.on{
  color: #d67d70;
  text-decoration: none;
}

