.sec3 {
  width: 100%;
  min-width: none;
  height: 100vh;
  position: relative;
}

.sec3 .sec3_wrap {
  position: absolute;
  padding-top: 60px;
  margin: 0 auto;
  width: 1600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.sec3 .sec3_wrap .sec3_left {
  width: 750px;
  height: inherit;
  float: left;
  margin-right: 163px;
}

.sec3_wrap .sec3_left h1 {
  margin-bottom:120px;
}

.sec3_wrap .sec3_left h1 {
  font-size: 60px;
}

.sec3_wrap .sec3_left .map {
  width: 750px;
  height: 500px;
}

.sec3_wrap .sec3_left a {
  display: block;
  margin-top: 30px;
  font-weight: bold;
  font-size: 16px;
}

.sec3_right .table_wrap h2 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #413F3C;
}

.sec3_right .table_wrap table,
.sec3_right .table_wrap table th,
.sec3_right .table_wrap table td {
  border: 1px solid #ccc;
  padding: 10px;
}

.sec3_right .table_wrap table {
  margin-bottom: 55px;
  font-size: 16px;
  border-collapse: collapse;
}

.sec3_right .table_wrap table th {
  width: 260px;
  color: #413F3C;
  font-size: 16px;
  background: rgb(244,244,244);
}

.sec3_right .table_wrap table td {
  width: 384px;
}

.sec3_right i,
.sec3 .sec3_wrap span {
  color: #d67d70;
}
